body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #1e1e1e;
}

main {
    width: 80%;
    margin: 20px auto;
}

.post {
    background-color: #1e1e1e;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.post a {
    color: #ff9800;
    text-decoration: none;
}

.meta {
    font-size: 0.9em;
    color: #b0b0b0;
}

article {
    max-width: 800px; /* Ajusta este valor según prefieras */
    margin: 0 auto; /* Centra horizontalmente */
    text-align: justify; /* Opcional: justificar el texto */
}


.tags {
    color: #4caf50;
}
